.transparente{
	background-color: rgba(255,255,255,0.9);
}
.header2{
	background-color:rgba(255,255,255,0);
}
.foto{
	background-image: ("./images/backgrundimage.jpg")
}
.imagen1{
	height: 5%;
}
.seccion2{
	padding: 85px 0px;
}
.seccion2 p{
    font-size: 18px;
}
.h1texto{
	font-size: 64px;
}
.horarios{
	background: #f75454;
	/*background: #6f5499;*/
	background: lightgrey;
	/*color:white;*/
	padding: 100px 0px;
}
.horarios p{
   font-size: 18px;
}